<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %> </title>
</head>
<body>
    <p>this is a file to read in a server with view engine </p>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blogs/create">blog</a>

    <% if(blogs.length > 0){ %>
    <% blogs.forEach (blog => { %>

        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>

    <% }) %>
    <% } %>
</body>
</html>